.image-container {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
  }
  .image-container img {
    width: 500px;
    height: 400px;
    margin: 10px;
    margin-bottom: 10px;
    transition: transform 0.5s;
  }
  .image-container img:hover {
    transform: scale(1.3);
  }
  .logo{
    height: 100px;
    width: 100px;
  }